<h1> This is the about page</h1>
<p>About the shop</p>
<br>
<p> This is a demo online e-commerce shop application running on the Rails framework and deployed on Heroku, with Stripe as the payment gateway. If you would like to test the payment section of this application, please do the following:<p/>
<ol>
<li>Pick a product from the products list.</li>
<li>Click the button "pay with card"</li>
<li>Complete the form with the test card: <strong>4242 4242 4242 4242</strong></li>
<li>Add any valid expiry date and any 3 digit CVC number. </li>
</ol>

