<!--<h1>StaticPages#index</h1>-->
<p>Welcome! The date and time is <%= Time.now %></p>

<div class="container-fluid"
    <div class="row">
        <% width = "304" 
           height = "236"
        %>
        <div class="col-lg-4">
            <%= image_tag "watch.jpg", alt: "featuredproduct", width: width, height: height %>
        </div>
        <div class="col-lg-4">
            <%= image_tag "tiara.jpg", alt: "featuredproduct", width: width, height: height %>
        </div>
        <div class="col-lg-4">
            <%= image_tag "ring.jpg", alt: "featuredproduct", width: width, height: height %>
        </div>
    </div>
</div>
