<!--<h1>StaticPages#index</h1>-->
<p>Welcome! The date and time is <%= Time.now %></p>

<div class="container-fluid"
    <div class="row">
        <div class="col-lg-4">
            <img class= "image-responsive"src="../assets/watch.jpg" alt= "featuredproduct" width="304" height="236">
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="../assets/tiara.jpg" alt="Featured Product Two" width="304" height="236">
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="../assets/ring.jpg" alt="Featured Product Three" width="304" height="236">
        </div>
    </div>
</div>
