<h1> Welcome to Dede's Bridal Shop</h1>
<h2> This Week's Featured Products:</h2>


<div data-carousel-3d>
  
  <% @products.each do |product| %>
      
      <%= image_tag(product.image_url, width: 350, height: 350) %>    
  <% end %>
</div>
