/* line 5, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
h1,
h2 {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-weight: 800;
}

/* line 12, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
h1 {
  font-size: 4em;
}

/* line 15, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
h2 {
  font-size: 2.5em;
}

/* line 19, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
#login-button {
  margin-top: 9px;
}

/* line 23, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
.form-inline {
  margin-top: 10px;
  float: right;
  color: gray;
}

/* line 29, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
.superfont {
  text-shadow: 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 41, /home/dede/shopdemo/app/assets/stylesheets/static_pages.css.scss */
#sale {
  min-width: 640px;
  min-height: 450px;
  max-width: 640px;
  max-height: 450px;
  background-image: url("images/dress2.jpg");
}
