
<h3>Confirmation</h3>
<div class="row">
  <div class="col-md-4">
    <p>Thank you! We have received your payment of <strong> £499</strong>. Your item will be dispatched within 48 hours!</p>

    <p><%= link_to 'Back to Products', products_path %></p>
  </div>
</div>
<%= yield %>