
<h3>Confirmation</h3>
<div class="row">
  <div class="col-md-4">
    <p>Thank you! We have received your payment of <strong> £500 </strong>. Your item will be dispatched within 48 hours!</p>
  </div>
</div>
<%= yield %>