/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_bootstrap
 *= require_self
 *= require_tree .

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: rgba(210, 194, 180, 0.4);
	padding-top: 50px;
}

* {
	color: dark-silver;
}

.navbar {
	background-color: rgba(0,0,0,0.6);
	
}

.field {
	color: blue;
	max-width: 50%;
}

.form-inline {
	margin-top: 10px;
	float: right;
	color: gray;
}

#login-button {
	margin-top: 8px;
}

#logout-button {
	margin-top: 8px;
}

#register-button {
	margin-top: 8.5px;
	margin-left: 5px;
}

#edit-button {
	margin-top: 8.5px;
	margin-left: 5px;
}



