// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,
h2, {
    color: silver;
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-weight: 800;
	}

h1 {
	font-size: 4em;
}
h2 {
	font-size: 2.5em;
}

#login-button {
	margin-top: 9px;
}

.form-inline {
	margin-top: 10px;
	float: right;
	color: gray;
}

.carousel {
    max-width: 80%;
    margin: auto;
  }

.carousel-caption {
  color: gray;

}
