<h1>Products Listing:</h1>
<h2>Add, remove, modify products</h2>

<table>
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th colspan="2">Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <%= render partial: "product", collection: @product %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
